<!DOCTYPE html>
<html>
<head>
	<title>Hogwarts</title>
	<meta charset='utf-8'>
	<link rel="shortcut icon" href="../images/icons/hogwarts_icon.png"/>
	<link rel="stylesheet" href="./../../bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css"/>
	
</head>
<body>
	<ul class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Hogwarts</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
		        	<a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/create_wand">Adicionar Varinha</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/retrieve_wands">Listar Varinhas</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/create_animal">Adicionar Animal</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/retrieve_animals">Listar Animais</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/create_question">Adicionar Perguntas</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/retrieve_questions">Listar Perguntas</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/create_answer">Adicionar Respostas</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin/retrieve_answers">Listar Respostas</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/logout">Logout</a>
		      	</li>
		    </ul>
		</div>		
	</ul>
	<br>
	<div class="container">
   		<%= yield %>
	</div>
</body>
</html>