
<div class="row">
	<div class="col-md-12">
		<div class="card">
  		<div class="card-header bg-dark text-white">
		    <h4>Informações da Pergunta</h4>
		</div>
		<div class="card-body">
			<% if @s != nil %>
				<div class='alert alert-success' role='alert'>
					<%= @s %>
				</div>
			<% end %>
			<% if @e != nil %>
				<div class='alert alert-danger' role='alert'>
					<%= @e %>
				</div>
			<% end %>
			<% if @w != nil %>
				<div class='alert alert-warning' role='alert'>
					<%= @w %>
				</div>
			<% end %>
		    	<form method='post' action='/admin/create_question'>
					<div class="col-lg-12">
						<input type="text" class="form-control" placeholder="Pergunta" name='description' aria-describedby="basic-addon3">
						<br>
						<button type='submit' class="btn btn-hg">Adicionar</button>									  
					</div>	
				</form>
		  	</div>
		</div>
	</div>
</div>
