
<div class="row">
	<div class="col-md-12">
		<div class="card">
  		<div class="card-header bg-dark text-white">
		    <h4>Informações da Varinha</h4>
		</div>
		<div class="card-body">
			<% if @s != nil %>
				<div class='alert alert-success' role='alert'>
					<%= @s %>
				</div>
			<% end %>
			<% if @e != nil %>
				<div class='alert alert-danger' role='alert'>
					<%= @e %>
				</div>
			<% end %>
			<% if @w != nil %>
				<div class='alert alert-warning' role='alert'>
					<%= @w %>
				</div>
			<% end %>
		    	<form method='post' action='/admin/create_wand' enctype='multipart/form-data'>
					<div class="col-lg-12">
						<input type="text" class="form-control" placeholder="Madeira" name='wood' aria-describedby="basic-addon3">
						<input class="form-control" placeholder="Flexibilidade" type='text' name='flexibility' aria-describedby="basic-addon3">
						<input class="form-control" placeholder="Comprimento (cm)" type='text' name='length' aria-describedby="basic-addon3">
						<input class="form-control" placeholder="Núcleo" type='text' name='core' aria-describedby="basic-addon3">
						Imagem da Varinha:
					  	<input type='file' name='file'>
						<br>
						<button type='submit' class="btn btn-hg">Enviar</button>									  
					</div>	
				</form>
		  	</div>
		</div>
	</div>
</div>