
<div class="row">
	<div class="col-md-12">
		<div class="card">
		<div class="card-body">
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/create_wand">
							<div class="card" style="height: 12rem; background-color: #613F75; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Adicionar Varinha</b></h4>
							</div> 
						</a>
					</div> 
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/retrieve_wands">
							<div class="card" style="height: 12rem; background-color: #384e77; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Listar Varinhas</b></h4>
							</div> 
						</a>
					</div>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/create_animal">
							<div class="card" style="height: 12rem; background-color: #d16341; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Adicionar Animal</b></h4>
							</div> 
						</a>
					</div>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/retrieve_animals">
							<div class="card" style="height: 12rem; background-color: #a30000; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Listar Animais</b></h4>
							</div> 
						</a>
					</div>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/create_question">
							<div class="card" style="height: 12rem; background-color: #588157; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Adicionar Pergunta</b></h4>
							</div> 
						</a>
					</div>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/retrieve_questions">
							<div class="card" style="height: 12rem; background-color: #ffd131; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Listar Perguntas</b></h4>
							</div> 
						</a>
					</div>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/create_answer">
							<div class="card" style="height: 12rem; background-color: #370031; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Adicionar Resposta</b></h4>
							</div> 
						</a>
					</div>
					<div class='col-md-4'>
						<a class="nav-link" href="/admin/retrieve_wizards">
							<div class="card" style="height: 12rem; background-color: #da627d; color: white;">
							  	<h4 class="text-center" style="padding-top: 40%"><b>Listar Usuários</b></h4>
							</div> 
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
