<div class='row'>
	<div class="col-md-3">
		<div class="card">
			<img src="../images/body/logo.png" width="100%">
		</div>  		
	</div>
	<div class="col-lg-9"> 
		<div class="card">
			<div class="card-header">
				Zona Administrativa
			</div>
			<div class="card-body">
				Aqui estão algumas coisas que você pode fazer nessa área:
				<ul>
					<li>Adicionar, editar, excluir e listar varinhas;</li>
					<li>Adicionar, editar, excluir e listar animais;</li>
					<li>Adicionar perguntas e respostas para o teste do Chapéu Seletor, bem como editá-las, listá-las e excluí-las;</li>
					<li>Editar e excluir usuários.</li>
			</div>
		</div>
	</div>
</div>
