
<div class="row">
	<div class="col-md-12">
		<div class="card">
  		<div class="card-header">
		    <h4>Wands</h4>
		</div>
		<div class="card-body">
			<div class='container-fluid'>
				<div class='row'>
		<% @wandArr.each do |wand| %>
			<div class='col-md-4'>
				<div class="card" style="width: 20rem;">
				  	<img class="card-img-top" src="../images/wands/wand.jpg" width='5%'>
				  	<div class="card-body">
				    	<p class="card-text">Wood: <%= wand.wood %></p>
				    	<p class="card-text">Flexibility: <%= wand.flexibility %></p>
				    	<p class="card-text">Length: <%= wand.length %></p>
				    	<p class="card-text">Core: <%= wand.core %></p>
				  	</div>
				</div> 
			</div> 
		<% end %>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
